.settings
*~
debug.log

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Patch/diff artifacts.
*.patch
*.diff
*.orig
*.rej
interdiff*.txt

# Hidden files.
.DS*
.project

# Temporary files.
tmp*

# Ignore IntelliJ files
.idea/
*.iml