#footer{
	font-size: 80%;
	height: 70px;
	margin: 10px;
	padding: 10px;
	background-color: #D3D3D3;
}

#footer_left{
	padding-left: 10px;
	float: left;
	width: 400px;
}

#footer_right{
	padding-right: 10px;
	text-align: right;
	float: right;
	width: 400px;
}