body{
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	background: #84663E;
}

#wrapper{
	margin: 0px auto;
	width: 1000px;
	background: white;
}

.shadow{
-moz-box-shadow: 0px 5px 15px #000;
-webkit-box-shadow: 0px 5px 15px #000;
}

#layer1{
	width: 1000px;
	height: 285px;
}

#layer2{
	font-size: 85%;
	width: 1000px;
	height: 265px;
	/*background-color: #DFC092;*/
}

#austin_image{
	margin: 5px;
	padding: 5px;
	float: left;
	width: 280px;
	height: 264px;
	/* border: solid;
	border-width: 1px; */
}

#blurb{
	font-size: 95%;
	margin: 5px;
	padding: 5px;
	float: right;
	width: 670px;
	height: 260px;
	border: solid;
	border-width: 1px;
}

#blurb_text{
	height: 210px;
}

#blurb_search{
	height: 80px;
	padding-top: 10px;
	border-top: solid;
	border-top-width: 1px;
}

#box1{
	float: left;
	margin: 5px;
	padding: 5px;
	width: 311px;
	height: 250px;
	/* border: solid;
	border-width: 1px; */
	background-color: #EAEAEA;
}

#about{
	height: 100px;
}

#box2{
	float: left;
	margin: 5px;
	padding: 5px;
	width: 311px;
	height: 250px;
	/* border: solid;
	border-width: 1px; */
	background-color: #EAEAEA;
}

#box3{
	float: left;
	margin: 5px;
	padding: 5px;
	width: 311px;
	height: 250px;
	/* border: solid;
	border-width: 1px; */
	background-color: #EAEAEA;
}