div{overflow: auto;}
body{
	/* background-image: url("pics/bg2.jpg");
	background-repeat: repeat; */
	background-color: #84663E;
	margin: 0px 0px;
	font-family: sans-serif;
}
img{border-style: none;}

#wrapper{
	width: 1000px;
	background-color: white;
	background-image: url("pics/stephenfaustintransparent.png");
	background-position: top right;
	background-repeat: no-repeat;
	margin: 0px auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#wrapper_no_img{
	width: 1000px;
	background-color: white;
	margin: 0px auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#search{width: 700px; margin: 0px auto;}
#searchBox {width: 420px; margin: 0px auto;}
#dC{width: 320px; padding-left: 20px; padding-top: 10px;}
#text a:link {text-decoration: none;}
#text_off a:link {text-decoration: none;}
#middle a:link{color: black;}
#middle {
	background-color: #E8E8E8;
	width: 800px;
	padding-top: 30px;
	padding-bottom: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #484a4a;
}
#bottom{
	width: 500px;
	margin: 5px auto;
	padding: 10px;
	font-size: 70%;
	text-align: center;
	letter-spacing: 3px;	
}

#results{
	float: left;
	width: 500px;
	margin: 5px auto;
	font-size: 80%;
	text-align: left;	
}

#results_layer1{
	background-color: #D8D8D8;
}

#results_layer2{
	height: 350px;
	overflow: auto;
	background-color: #D8D8D8;
}

#results_wordCloud{
	float: left;
	width: 320px;
	overflow: visible;
}
#results_peopleCloud{
	float: left;
	margin-left: 20px;
	width: 320px;
	overflow: visible;
}
#results_placesCloud{
	float: right;
	width: 320px;
	overflow: visible;
}

#bottom a:link {text-decoration: none;}
#tabs {
	width: 300px;
	margin: 0px 0px;	
}
#tabs ul {
	list-style: none;
	padding:0;
	margin: 0px 0px;
}
#tabs li {
	display: block;
	float: left;
	font-size: 80%;
	text-align: center;
	letter-spacing: 2px;
	height: 20px;
	width: 100px;
	background-image: url("pics/tab.png");
	background-repeat: no-repeat;
   background-position: left top;
	padding-top: 5px;
}
#tabs li a {
	padding-top: 5px;
	color: white;
	text-decoration: none;
}

#tabs #selected {
	font-weight: 900;
}

#timelineNotes{
	text-align: center;
	width:	950px;
	margin-bottom: 10px;
}

.expand_collapse{
	background-color: #C0C0C0;
}

.expand_collapse a{
	color: black;
	text-decoration: none;
}

.floatLeft{float: left; margin-right: 20px;}
.floatCenter{display:inline; margin: 0px auto;}
.floatRight{float: right; margin-left: 20px;}

#main{
	margin: 0px auto;
	padding-top: 20px;
	width: 850px;
}

#cloud{
	background-color: #E8E8E8;
	/* border-style: solid;	
	border-width: 1px;
	float: right;
	width: 300px; */
	overflow: visible;
}

/* SIMILE TIMELINE STUFF */

#my-timeline {
	margin: 20px auto;
	width: 995px;
	height: 150px;
	border: 1px solid #aaa;	
	display: block;
}

#my-timeline div {
	overflow: visible;	
}

div.simileAjax-bubble-container {
	overflow: visible;	
}

table {
    font-size: 100%;
}

.shadow {
-moz-box-shadow: 0px 5px 15px #000;
-webkit-box-shadow: 0px 5px 15px #000;
}

.timeline-default {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
    border: 1px solid #aaa;
}

.tape-special_event, .small-special_event {background-color: orange;}