/*@import url("reset.css");*/



/* GENERAL */



body{
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	background: #84663E;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	
}

#form{
	margin: 20px;
	padding-bottom: 20px;
}

form {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.content {
	margin: 20px;
	padding-bottom: 20px;
}

a {
	color: #161784;
}

a:hover {
	color: #84663d;
}

a:visited {
	color: #4d4d77;
}


/*INDEX */

#wrapper{
	margin: 0px auto;
	width: 1000px;
	background: white;
	overflow: auto;
}

.shadow{
-moz-box-shadow: 0px 5px 15px #000;
-webkit-box-shadow: 0px 5px 15px #000;
}

#content1 {
}

#content2 {
	overflow: auto;
	float: right;
	font-size: 1.2em;
}

#content3 {
	overflow: auto;
	width: 263px;
	float: left;
	font-size: .8em;
	padding: 0 10px;
	background: #d3d3d3;
}

/*#layer1{
	width: 1000px;
	height: 285px;
}

#layer2{
	font-size: 85%;
	width: 1000px;
	height: 265px;
	background-color: #DFC092;
}*/

#austin_image{
	margin: 5px;
	padding: 5px;
	float: left;
	width: 280px;
	height: 264px;
	/* border: solid;
	border-width: 1px; */
}

#blurb{
	/*font-size: 95%;*/
	margin: 5px;
	padding: 5px;
	float: right;
	width: 670px;
	/*height: 260px;*/
	/*border: solid;
	border-width: 1px;*/
}

#blurb_text{
	/*height: 210px;*/
}

#blurb_search{
	/*height: 80px;*/
	padding: 10px 0;
	/*border-top: solid;
	border-top-width: 1px;*/
	border: 3px solid #d3d3d3;
	border-left: none;
	border-right: none;
	
}

#box1{
	float: left;
	margin: 5px;
	padding: 5px;
	width: 311px;
	height: 250px;
	/* border: solid;
	border-width: 1px; */
	background-color: #EAEAEA;
}

#about{
	height: 100px;
}

#box2{
	float: left;
	margin: 5px;
	padding: 5px;
	width: 311px;
	height: 250px;
	/* border: solid;
	border-width: 1px; */
	background-color: #EAEAEA;
}

#box3{
	float: left;
	margin: 5px;
	padding: 5px;
	width: 311px;
	height: 250px;
	/* border: solid;
	border-width: 1px; */
	background-color: #EAEAEA;
}


/* IDEA */

#blank{
	height: 300px;
	padding: 20px;
}






/* GEOGRAPHIC */



/* UPDATES */




/* DOCUMENT */

#title{
	padding: 20px;
	font-size: 120%;
	font-weight: bold;
	border-bottom: solid;
	border-width: 1px;
}

#metadata{
	padding: 10px;
	border-bottom: solid;
	border-width: 1px;
}

#summary{
	font-size: 85%;
	padding: 10px;
}

#text{
	font-family: serif;
	font-size: 85%;
	margin: 10px;
	padding: 10px;
	border: solid;
	border-width: 1px;
}

#clouds_header{
	font-size: 85%;
	padding: 10px;
}

#clouds{
	font-size: 85%;
	padding: 10px;
	border-bottom: solid;
	border-width: 1px;
}

#cite{
	font-size: 85%;
	padding: 10px;
}

#teixml {
	float: right;
	margin: -20px 10px 10px 10px;
}


/* CONTACT */

/* ADVANCED */


/* RESULTS */

#results_layer3{
	margin: 20px;
	font-size: 80%;
}

/* CLOUD STUFF */

#results_layer2{
	height: 350px;
	overflow: auto;
	background-color: #D8D8D8;
}

#results_wordCloud{
	float: left;
	width: 320px;
	overflow: visible;
}
#results_peopleCloud{
	float: left;
	margin-left: 20px;
	width: 320px;
	overflow: visible;
}
#results_placesCloud{
	float: right;
	width: 320px;
	overflow: visible;
}

.expand_collapse{
	background-color: #C0C0C0;
	padding-left: 10px;
}

.expand_collapse a{
	color: black;
	text-decoration: none;
}

.floatLeft{float: left; margin-right: 20px;}
.floatCenter{display:inline; margin: 0px auto;}
.floatRight{float: right; margin-left: 20px;}

#cloud{
	background-color: #E8E8E8;
	/* border-style: solid;	
	border-width: 1px;
	float: right;
	width: 300px; */
	overflow: visible;
}

/* TIMELINE STUFF */

#my-timeline {
	margin: 20px auto;
	padding-left: 50px;
	width: 900px;
	height: 150px;
	border: 1px solid #aaa;	
	display: block;
}

#my-timeline div {
	overflow: visible;	
}

div.simileAjax-bubble-container {
	overflow: visible;	
}

table {
    font-size: 100%;
}

.timeline-default {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
    border: 1px solid #aaa;
}

.tape-special_event, .small-special_event {background-color: orange;}

#timelineNotes{
	text-align: center;
	width:	950px;
	margin-bottom: 10px;
}

/* Tabs */
#tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#tabs li {
	float: left;
	border: 1px solid #bbb;
	border-bottom-width: 0;
	margin: 0;
}

#tabs a {
	text-decoration: none;
	display: block;
	background: #eee;
	padding: 0.24em 1em;
	color: #00c;
	width: 10em;
	text-align: center;
}

#tabs a:hover {
	background: #ddf;
}

#tabs li.selected {
	border-color: black;
}

#tabs li.selected a {
	position: relative;
	top: 1px;
	background: white;
	color: black;
	font-weight: bold;
}

#content {
	border: 1px solid black;
	clear: both;
	padding: 0 1em;
	background: white;
}

/* The following rules are to deal with existing HTML. -kmd*/
#content p {
	/*margin: 0;*/
}

#content p a {
	font-weight: bold;
}

#content br {
	display: none;
	float: left;
	
}








/* HEADER */

#header #home h1 {
	font-size: 1.8em;
	height: auto;
	width: auto;
	margin: 0 0 6px 10px;
	padding: 0;
	font-family: 'Oxygen', sans-serif;
}

#header #home h1 .digital {
}

#header #home h1 .austin {
}

#header #home h1 .papers {
}

#header{
	/*height: 30px;*/
	background-color: #484a4a;
	overflow: auto;
}

#home{
	float: left;
}

#home a{
	display:block;
	padding:5px;
	color:#fff;
	text-decoration:none;
	letter-spacing: 4px;
	font-weight:bold;
}

#menu{
	float: right;
}



/* NAV */
#nav{
	margin: 0px;
	padding: 0px;
	list-style:none;
	font-weight:bold;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav li{
	float:left;
	margin-right:1px;
	position:relative;
	padding-right: 10px;
	letter-spacing: 4px;

}
#nav a{
	display:block;
	padding:15px 5px 5px 5px;
	color:#fff;
	/* background:#333; */
	background: #484a4a;
	text-decoration:none;
}
#nav a:hover{
	color:#fff;
	background:#84663E;
	text-decoration:none;
}

/* DROPDOWN 
(Left in case we want to use in the future, not currentl necessary) -kmd */
#nav ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it… */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	letter-spacing: 1px;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left: -40; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#84663E;
	text-decoration:none;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#333;
}








/* Footer */

#footer{
	font-size: 80%;
	height: 70px;
	margin: 10px;
	padding: 10px;
	background-color: #D3D3D3;
	clear: both;
}

#footer_left{
	padding-left: 10px;
	float: left;
	width: 400px;
}

#footer_right{
	padding-right: 10px;
	text-align: right;
	float: right;
	width: 400px;
}