{#

# FILE NAME:        _results.twig

# PURPOSE:          Search results section of search page, included by search.html.twig

#}

<div class="hidden search-results" id="tabs">
  <div class="row container">
    <div class="col-xs-12 search-results__results-summary">
      <span id="resultsCount">No</span> <span id="resultsPlural">results</span> out of <span id="totalDocsCount"></span> documents <span id="resultsFor">for </span><span id="humanQuery">all search terms.</span>
    </div><!-- col -->
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12 search-results__tabs">
      <ul class="nav nav-tabs search-results__tabs-list" role="tablist">
        <li role="presentation" class="active search-results__tabs-list-item">
          <a href="#tab-documents" role="tab" data-toggle="tab">Documents</a>
        </li>
        <li role="presentation" class="search-results__tabs-list-item">
          <a href="#tab-timeline" role="tab" data-toggle="tab">Timeline/Sentiment</a>
        </li>
        <li role="presentation" class="search-results__tabs-list-item">
          <a href="#tab-geographic" role="tab" data-toggle="tab">Geography</a>
        </li>
        <li role="presentation" class="search-results__tabs-list-item">
          <a href="#tab-charts" role="tab" data-toggle="tab">Word Counts</a></li>
      </ul>
    </div><!-- col -->
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-12 search-results__results-container">
      <div class="tab-content">
        <div role="tabpanel" class="documents-tab active" id="tab-documents" >

          <!-- Progress bar -->
          <div class="searching-progress">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%">
                Searching
              </div><!-- progress-bar -->
            </div><!-- progress -->
          </div><!-- searching-progress-->

          <p class="documents-tab__description">View the individual documents associated with your search results, which you can order by date, relevance, or sentiment scores.  Click on individual titles to see the documents.</p>

          <div class="search-results__sort">
            <form id="sortForm">
              <span class="search-results__sort-by-label">Sort by:</span>
              <label class="radio-inline">
                <input type='radio' name='sort' id='sort_date' value='date' class="search-results__sort-radio-input">
                Date
              </label>
              <label class="radio-inline">
                <input type='radio' name='sort' id='sort_similarity' value='similarity' class="search-results__sort-radio-input">
                Relevance
              </label>
              <label class="radio-inline">
                <input type='radio' name='sort' id='sort_sentiment_desc' value='sentiment_desc' class="search-results__sort-radio-input">
                Sentiment (Positive to Neg.)
              </label>
              <a data-toggle="modal" data-target=".test-modal">
                <i class="fa fa-question-circle" data-toggle="tooltip" title="Click to learn about Sentiment score"></i>
              </a>
              <label class="radio-inline">
                <input type='radio' name='sort' id='sort_sentiment_asc' value='sentiment_asc' class="search-results__sort-radio-input">
                Sentiment (Negative to Pos.)
              </label>
              <a data-toggle="modal" data-target=".test-modal">
                <i class="fa fa-question-circle" data-toggle="tooltip" title="Click to learn about Sentiment score"></i>
              </a>
              <div class="modal fade test-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content" style="padding:20px;">
                    Information about sentiment score can go here. We can move it to wherever we want on screen. We can also make it look prettier than this.
                  </div>
                </div>
              </div>
            </form>
          </div><!-- search-results__sort -->

          <ol id="documentsList" class="search-results-list"></ol>

          <nav class="pagination-nav">
            <ul class="pagination hidden">
              <li>Prev</li>
              <li>Page #n</li>
              <li>Page #n</li>
              <li>Page #c</li>
              <li>Page #n</li>
              <li>Page #n</li>
              <li>Next</li>
            </ul>
          </nav>

        </div><!-- tab-documents -->

        <!-- Tab Content -->

        <!-- Timeline Tab Content -->
        <div role="tabpanel" class="time-chart-tab" id="tab-timeline">

          <!-- Progress bar -->
          <div class="searching-progress">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%">
                Loading
              </div><!-- progress-bar -->
            </div><!-- progress -->
          </div><!-- searching-progress-->

          <p class="time-chart-tab__description">View your search results
            distributed over time.  For each year, the percentage of documents with
            positive, neutral, or negative language (sentiment scores) is plotted
            by year.  Click on years or sentiment bars to see those particular documents.</p>

          <div id="timeChart" class="time-chart"></div>
        </div><!-- tab-timeline -->

        <!-- Geographic Tab Content -->
        <div role="tabpanel" class="geographic-chart-tab" id="tab-geographic">

          <!-- Progress bar -->
          <div class="searching-progress">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%">
                Loading
              </div><!-- progress-bar -->
            </div><!-- progress -->
          </div><!-- searching-progress-->

          <p class="geographic-chart-tab__description">View the geographic patterns
            embedded in your search results, plotted by where the letters originated
            and where they arrived.  Click on individual locations for associated letters.</p>

          <div id="map" class="geographic-chart-tab__map" style="width:100%; height:500px;"></div>

          <div class="geographic-chart-tab__legend">
            <span>Origin</span><span class="geographic-chart-tab__legend-line"></span><span>Destination</span>
          </div>
        </div><!-- tab-geographic -->

        <!-- Charts Tab Content -->
        <div role="tabpanel" class="word-chart-tab" id="tab-charts">

          <!-- Progress bar -->
          <div class="searching-progress">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%">
                Loading
              </div><!-- progress-bar -->
            </div><!-- progress -->
          </div><!-- searching-progress-->

          <p class="word-chart-tab__description">View ranked lists of the
            most frequently occurring words within the documents in your search
            results, grouped by total words, named people, and named locations.
            Click on individual words or names for associated documents.</p>

          <div id="wordChart" class="word-chart hidden">
            <h2 class="word-chart__title">Total Word Counts</h2>
          </div>

          <div id="personChart" class="word-chart hidden">
            <h2 class="word-chart__title">Named People Counts</h2>
          </div>

          <div id="placeChart" class="word-chart hidden">
            <h2 class="word-chart__title">Named Location Counts</h2>
          </div>
        </div><!-- tab-charts -->

      </div><!-- tab-content -->

    </div><!-- col -->
  </div><!-- row -->
</div>