{% extends 'base.twig' %}

{% block title %}About | {{ parent() }}{% endblock %}

{% block main_container %}
<div class="col-sm-12">
  <div class="" id="about">

    <h2>About the Texts</h2>
    <p>The Digital Austin Papers represent a digital edition of Barker's 1923
      <i>Title goes here</i>.</p>
  </div>
</div>

<div class="col-sm-3">

  <h2>Credits</h2>

  <h3>Editorial Staff</h3>

  <dl>
    <dt>Andrew Torget</dt>
    <dd>General Editor</dd>
    <dt>Debbie Liles</dt>
    <dd>Editor</dd>
  </dl>

  <h3>Technical Staff</h3>

  <dl>
    <dt>Ben W. Brumfield</dt>
    <dd>Lead Developer</dd>
    <dt>Karin Dalziel</dt>
    <dd>Navigation and Front-end Development</dd>
    <dt>Stephen Eisenauer</dt>
    <dd>Visualizations and Additional Development</dd>
    <dt>Sara Carlstead Brumfield</dt>
    <dd>Clustering Algorithms and Additional Development</dd>
    <dt>Stephen Mues</dt>
    <dd>Original Design and Development</dd>
  </dl>

</div>

<div class="col-sm-9">

  <h2>About the Digital Edition</h2>

  <h3>Transcription and Mark-up</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h3>Technology</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h3>TEI</h3>

  <p>Heeding Peter Robinson's admonition that "your interface is everyone
  else's enemy", we decided to expose the TEI version of the papers in two
  ways:</p>
    <ul>
      <li><b>Bulk Download</b>: A Github repository containing the editor's
      transcripts, the TEI-P5 XML files, and the programs used to convert
      the transcripts to TEI-XML is at
      <a href="https://github.com/DigitalAustinPapers/AustinTranscripts" id="about-austin-transcripts-github">AustinTranscripts</a>
      and can	be downloaded for analysis or any other re-use.
      </li>
      <li><b>On-Screen TEI</b>: Each page on the Digital Austin Papers site
      has a TEI button: <img src="assets/img/xml-tei_button.gif">.	Clicking this
      will download that document's TEI-XML, formatted using
      <a href="http://dcl.ils.indiana.edu/teibp/" id="about-tei-bp">TEI Boilerplate</a>.
      </li>
    </ul>
</div>
{% endblock %}