<?php include('header.php'); ?>

			<!-- Created this page new -kmd -->
			<div class="content">
			<h2>About</h2>
			
			<h3>Project Partners</h3>
			
			<ul>
					<li>Digital History Lab, UNT</li>
					<li><a href="http://texashistory.unt.edu">Portal to Texas History, UNT</a></li>
					<li><a href="http://www.cah.utexas.edu/">Center for American History, University of Texas</a></li>
					<li><a href="http://www.glo.texas.gov/">Texas General Land Office</a></li>
					<li><a href="http://www.summerlee.org/">Summerlee Foundation</a></li>
					<li><a href="http://www.tshaonline.org/">Texas State Historical Association</a></li>
				</ul>


			<h3>About the Texts</h3>
			<p>The Digital Austin Papers represent a digital edition of Barker's 1923 <i>Title goes here</i>.  </p>
			<h3>About the Digital Edition</h3>
			<h4>
				Transcription and Mark-up
			</h4>
			<h4>
				Technology
			</h4>
			
			<h4>
				TEI
			</h4>
			<p>
				Heeding Peter Robinson's admonition that "your interface is everyone else's enemy", we decided 
				to expose the TEI version of the papers in two ways:
				<ul>
					<li>
						<b>Bulk Download</b>: A Github repository containing the editor's transcripts, the TEI-P5 XML files, 
						and the programs used to convert the transcripts to TEI-XML is at 
						<a href="https://github.com/DigitalAustinPapers/AustinTranscripts">AustinTranscripts</a> and can
						be downloaded for analysis or any other re-use.
					</li>
					<li>
						<b>On-Screen TEI</b>: Each page on the Digital Austin Papers site has a TEI button: <img src="img/xml-tei_button.gif" />.
						Clicking this will download that document's TEI-XML, formatted using <a href="http://dcl.ils.indiana.edu/teibp/">TEI Boilerplate</a>.
					</li>
				</ul>
				
			
			</p>
			<h3>Credits</h3>
			<h4>Editorial Staff</h4>
			<dl>
				<dt>
					Andrew Torget
				</dt>
				<dd>
					General Editor
				</dd>
				<dt>
					Debbie Liles
				</dt>
				<dd>
					Editor
				</dd>
			</dl>
			<h4>Technical Staff</h4>
			<dl>
				<dt>
					Ben W. Brumfield
				</dt>
				<dd>
					Lead Developer
				</dd>
				<dt>
					Karin Dalziel
				</dt>
				<dd>
					Navigation and Front-end Development
				</dd>
				<dt>
					Stephen Eisenauer
				</dt>
				<dd>
					Visualizations and Additional Development
				</dd>
				<dt>
					Sara Carlstead Brumfield
				</dt>
				<dd>
					Clustering Algorithms and Additional Development
				</dd>
				<dt>
					Stephen Mues
				</dt>
				<dd>
					Original Design and Development
				</dd>
			</dl>
			
			
			</div>

<?php include('footer.php'); ?>