<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Stephen F. Austin - Digital Collection{% endblock %}</title>

  <!-- external fonts -->
  {% block fonts %}
    <link href="//fonts.googleapis.com/css?family=Stint+Ultra+Expanded:400" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Stint+Ultra+Condensed:400" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Bitter:400,400italic,700" rel="stylesheet">
  {% endblock %}

  <!-- CSS -->
  {% block stylesheets %}
    <link rel="stylesheet" href="assets/css/style.css">
  {% endblock %}

  <!-- scripts -->
  {% block scripts %}
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv/html5shiv-3.7.2.min.js"></script>
  <script src="assets/js/respond/respond-1.4.2.min.js"></script>
  <![endif]-->
  {% endblock %}

{% endblock %}
</head>
<body>
<div id="main-wrapper">
  {% block header %}
    {% include 'header.twig' %}
  {% endblock %}

  {% block hero %}
  {% endblock %}

  <div class="container main-container">
    <div class="row">
      {% block main_container %}
      <div class="col-md-12">
        {% block content %}{% endblock %}
      </div><!-- col-sm-12 -->
      {% endblock %}
    </div><!-- row -->
  </div><!-- main-container -->

</div><!-- main-wrapper -->
<div id="footer">
  {% block footer %}
    {% include 'footer.twig' %}
  {% endblock %}
</div>

<!-- scripts -->
{% block scripts_footer %}
<script src="assets/js/jquery/jquery-1.9.1.min.js"></script>
<script src="assets/js/bootstrap/bootstrap-3.3.5.min.js"></script>
<script src="assets/js/d3/d3.min.js"></script>
{% endblock %}

</body>
</html>