{% extends 'base.twig' %}

{#

# FILE NAME:        contact.html.twig

# PURPOSE:

    Extends base.twig. Contact page with email form.

# BLOCKS:           The following Twig "blocks" are defined in this document.

    title                   sets page title and imports parent

    scripts                 imports parent and adds script for Google recaptcha

    content                 primary page content

# VARIABLES:        Variables passed from the template rendering engine

    body_id             id attached to body tag as a styling hammer

    success             whether the form submission is successful

#}

{% block title %}Contact | {{ parent() }}{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock scripts %}

{% block content %}
<div class="" id="contact">

  {% if success == 'success' %}
    <div class="alert alert-success" role="alert">Your message has been successfully sent.</div>
  {% elseif success == 'fail' %}
    <div class="alert alert-danger" role="alert">Your message could not be sent. Please complete all fields and submit again.</div>
  {% endif %}

  <h2>Contact Form</h2>
  <p>Please fill out the form below to send email to the Digital Austin Collection team <em>(all fields are required)</em>:</p>
  <form class="form-horizontal" action="contact" method="post">

    <div class="form-group">
      <label for="contact_name" class="col-sm-3">Your Name:</label>
      <div class="col-sm-9">
        <input type="text" id="contact_name" class="form-control" name="contact_name" placeholder="Name">
      </div>
    </div>

    <div class="form-group">
      <label for="contact_email" class="col-sm-3">Your Email Address:</label>
      <div class="col-sm-9">
        <input type="text" id="contact_email" class="form-control" name="contact_email" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <label for="contact_reason" class="col-sm-3">Reason for Email:</label>
      <div class="col-sm-9">
        <select id="contact_reason" class="form-control" name="contact_reason" >
          <option label="Question" value="question" selected="selected">Question</option>
          <option value="comment">Comment</option>
          <option value="suggestion">Suggestion</option>
          <option value="problem">Problem</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="contact_message" class="col-sm-3">Your Message:</label>
      <div class="col-sm-9">
        <textarea id="contact_message" name="contact_message" rows="8" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <div class="g-recaptcha" data-sitekey="6LdLHAsTAAAAAMpMPpkmgNh4FDNEl7WJV_3lNuqH"></div>
        <button type="submit" id="submit" name="submit" class="btn btn-default">Send</button>
      </div>
    </div>
  </form>
</div><!-- panel -->
{% endblock %}