<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2 col-xs-offset-4 col-sm-offset-0">
        <a href="http://history.unt.edu/" target="_blank"><img src="assets/img/footer_dept_of_history_wht.png" class="img-responsive footer-unt-history-logo"></a>
        <p><a href="http://texashistory.unt.edu/explore/collections/AUSTIN/browse/" target="_blank">The Portal to Texas History</a></p>
      </div><!-- col -->

      <div class="clearfix visible-xs-block"></div>
      <div class="col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="col-xs-4">
          <a href="#"><img class="img-responsive center-block" src="http://placehold.it/150x150"></a>
            <a href="#"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p></a>
        </div>
        <div class="col-xs-4">
          <a href="#"><img class="img-responsive center-block" src="http://placehold.it/150x150"></a>
          <a href="#"><p>Aliquam tincidunt mauris eu risus</p></a>
        </div>
        <div class="col-xs-4">
          <a href="#"><img class="img-responsive center-block" src="http://placehold.it/150x150"></a>
          <a href="#"><p>Vestibulum auctor dapibus neque</p></a>
        </div>
      </div><!-- col -->
    </div><!-- row -->
  </div>
</footer>