<footer class="footer hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2 col-xs-offset-4 col-sm-offset-0">
        <a href="http://history.unt.edu/" target="_blank" id="footer-history-dept">
          <img src="public/img/footer_dept_of_history_wht.png" class="img-responsive footer-unt-history-logo">
        </a>
        <div class="text-center">
          <a href="http://texashistory.unt.edu/" id="footer-portal-tx-history" target="_blank">
            The Portal to Texas History
          </a>
        </div>
      </div><!-- col -->

      <div class="clearfix visible-xs-block"></div>
      <div class="col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="col-xs-4">
          <a href="#">
            <img class="img-responsive center-block" src="http://placehold.it/150x150">
          </a>
          <div class="text-center">
            <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
          </div>
        </div>
        <div class="col-xs-4">
          <a href="#">
            <img class="img-responsive center-block" src="http://placehold.it/150x150">
          </a>
          <div class="text-center">
            <a href="#">Aliquam tincidunt mauris eu risus</a>
          </div>
        </div>
        <div class="col-xs-4">
          <a href="#">
            <img class="img-responsive center-block" src="http://placehold.it/150x150">
          </a>
          <div class="text-center">
            <a href="#">Vestibulum auctor dapibus neque</a>
          </div>
        </div>
      </div><!-- col -->
    </div><!-- row -->
  </div>
</footer>