<nav id="main-nav" role="navigation" class="navbar navbar-default hidden-print">
  <div class="container">

    <div class="navbar-header">
      <div class="navbar-text navbar-brand visible-xs-block">
        <a id="site-name-mobile" class="btn btn-link" href="index" title="Home">Digital Austin Papers</a>
      </div><!-- navbar-text -->
      <button id="main-nav-toggle" class="navbar-toggle btn btn-success btn-sm navbar-left collapsed" type="button" data-toggle="collapse" data-target="#primary-site-menu" aria-expanded="false">MENU</button>
    </div><!-- navbar-header -->

    <div class="navbar-collapse collapse" id="primary-site-menu" role="navigation" aria-expanded="false">
      <div class="navbar-left hidden-xs">
        <a id="navbar-link-brand" class="navbar-brand" href="index">Digital Austin Papers</a>
      </div><!-- navbar-left -->
      <div class="navbar-right">
        <ul class="menu nav navbar-nav">
          <li><a id="navbar-link-about" href="about">About</a></li>
          <li><a id="navbar-link-search" href="advanced">Search</a></li>
          <li><a id="navbar-link-browse" href="browse">Browse</a></li>
          <li><a id="navbar-link-contact" href="contact">Contact</a></li>
        </ul>
      </div><!-- navbar-right -->

    </div><!-- container -->
</nav>