{% extends 'base.twig' %}

{% block header %}
{% endblock %}

{% block hero %}

  <div class="jumbotron">
    {% include 'header.twig' %}
    <div class="container">
      <div class="row">
        <div class="col-xs-7 col-md-offset-1 col-lg-offset-0">
          <h1 class="hidden-xs">Digital Austin Papers</h1>
          <p class="jumbotron-subtitle">Discover Stephen F. Austin's Texas through his own words.</p>
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- jumbotron -->

{% endblock hero %}

{% block main_container %}
  <div class="container main-container front-page__container">
    <div class="row">
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>The Digital Austin Papers Project seeks to recreate the turbulent world of the Texas borderlands during the 1820s and 1830s, as seen through the eyes of Stephen F. Austin.   Collecting thousands of letters by both Mexicans and Americans, the project will offer unprecedented access to the movement of ideas and people during the early nineteenth century that transformed the borderlands between the United States and Mexico.</p>
            <p>The project will digitize the complete writings and correspondence of Austin, making them accessible and searchable online for the first time.  Yet the project will go far beyond simply making these records available digitally - we will be offering new digital tools for exploring the language, geography, and ideas embedded in the Austin correspondence.</p>
          </div><!-- panel -->
        </div><!-- panel-body -->
      </div><!-- col -->

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <a href="browse" id="panel-letters">
                <div class="col-md-5">
                  <h1>2183</h1>
                </div><!-- col -->
                <div class="col-md-7">
                  <h1><small>letters</small></h1>
                </div><!-- col -->
              </a>
            </div><!-- row -->
            <div class="row">
              <a href="browse?browseBy=author" id="panel-authors">
                <div class="col-md-5">
                  <h1>668</h1>
                </div><!-- col -->
                <div class="col-md-7">
                  <h1><small>authors</small></h1>
                </div><!-- col -->
              </a>
            </div><!-- row -->
            <div class="row">
              <a href="browse?browseBy=recipient" id="panel-recipients">
                <div class="col-md-5">
                  <h1>341</h1>
                </div><!-- col -->
                <div class="col-md-7">
                  <h1><small>recipients</small></h1>
                </div><!-- col -->
              </a>
            </div><!-- row -->
          </div><!-- panel-body -->
        </div><!-- panel -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
{% endblock main_container %}