<div>
  <form class="quick-search" action="search.php" method="get">
    <div class="form-group">
      <label for="index-search"></label>
      <div class="input-group">
        <input type="text" name="query" class="form-control" id="index-search" placeholder="Enter search terms">
        <span class="input-group-btn"><button type="submit" class="btn btn-default">Quick search</button></span>
      </div><!-- input-group -->
    </div><!-- form-group -->
  </form>
  <a class="center-block text-center" href="search.php" id="quick-search-search">Advanced search</a>
</div>