<div class="panel panel-default">
  <div class="panel-body">
<img src="assets/img/AustinBackground.png" class="img-responsive center-block" alt="Stephen F. Austin">
  </div><!-- panel-body -->
</div><!-- panel -->
<div class="panel panel-default">
  <div class="panel-body">
    {% include 'quick_search.twig' %}
  </div><!-- panel -->
</div><!-- panel-body -->
<div class="partners panel panel-default">
  <div class="panel-body">
    <h2>Partners</h2>
    <ul>
      <li>Digital History Lab, UNT</li>
      <li><a href="http://texashistory.unt.edu" id="home-partners-portal">Portal to Texas History, UNT</a></li>
      <li><a href="http://www.cah.utexas.edu/" id="home-partners-ut-center">Center for American History, University of Texas</a></li>
      <li><a href="http://www.glo.texas.gov/" id="home-partners-txglo">Texas General Land Office</a></li>
      <li><a href="http://www.summerlee.org/" id="home-partners-summerlee">Summerlee Foundation</a></li>
      <li><a href="http://www.tshaonline.org/" id="home-partners-txsha">Texas State Historical Association</a></li>
    </ul>
  </div><!-- panel-body -->
</div><!-- partners panel-->