.document-place-name,
.document-person-name {
  color: inherit;
  border-bottom: 1px dotted lightblue;
  text-decoration: none;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    background-color: lightblue;
    text-decoration: none;
  }
}