<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<geonames style="FULL">
<totalResultsCount>3</totalResultsCount>
<geoname>
<toponymName>Spring Trail</toponymName>
<name>Spring Trail</name>
<lat>42.3087</lat>
<lng>-72.84176</lng>
<geonameId>4951778</geonameId>
<countryCode>US</countryCode>
<countryName>United States</countryName>
<fcl>R</fcl>
<fcode>TRL</fcode>
<fclName>road, railroad </fclName>
<fcodeName>trail</fcodeName>
<population/>
<alternateNames/>
<elevation>375</elevation>
<continentCode>NA</continentCode>
<adminCode1 ISO3166-2="MA">MA</adminCode1>
<adminName1>Massachusetts</adminName1>
<adminCode2>013</adminCode2>
<adminName2>Hampden County</adminName2>
<timezone dstOffset="-4.0" gmtOffset="-5.0">America/New_York</timezone>
<score>27.51582908630371</score>
</geoname>
<geoname>
<toponymName>Spring Trail</toponymName>
<name>Spring Trail</name>
<lat>36.26357</lat>
<lng>-121.84023</lng>
<geonameId>5398267</geonameId>
<countryCode>US</countryCode>
<countryName>United States</countryName>
<fcl>R</fcl>
<fcode>TRL</fcode>
<fclName>road, railroad </fclName>
<fcodeName>trail</fcodeName>
<population/>
<alternateNames/>
<elevation>12</elevation>
<continentCode>NA</continentCode>
<adminCode1 ISO3166-2="CA">CA</adminCode1>
<adminName1>California</adminName1>
<adminCode2>053</adminCode2>
<adminName2>Monterey County</adminName2>
<timezone dstOffset="-7.0" gmtOffset="-8.0">America/Los_Angeles</timezone>
<score>27.51582908630371</score>
</geoname>
<geoname>
<toponymName>Spring Trail</toponymName>
<name>Spring Trail</name>
<lat>38.53991</lat>
<lng>-122.54637</lng>
<geonameId>5398268</geonameId>
<countryCode>US</countryCode>
<countryName>United States</countryName>
<fcl>R</fcl>
<fcode>TRL</fcode>
<fclName>road, railroad </fclName>
<fcodeName>trail</fcodeName>
<population/>
<alternateNames/>
<elevation>323</elevation>
<continentCode>NA</continentCode>
<adminCode1 ISO3166-2="CA">CA</adminCode1>
<adminName1>California</adminName1>
<adminCode2>055</adminCode2>
<adminName2>Napa County</adminName2>
<timezone dstOffset="-7.0" gmtOffset="-8.0">America/Los_Angeles</timezone>
<score>27.51582908630371</score>
</geoname>
</geonames>
