.jumplist {
  padding: .5em 1em;
  font-size: .9em;

  &__item {
    @extend .text-center;
    min-width: 45px;
    margin: 0 !important;

    & a {
      padding: 10px !important;
    }
  }
}

.browse-list__category-header {
  margin-bottom: 0;

  .glyphicon {
    font-size: .65em;
  }
}

.browse-list__item-list {
  list-style-type: none;
  margin-top: 1em;
}

.browse-list__item {
  margin-top: 1em;
}

.browse-list__item-details {
  color: $text-secondary-color;
}

@media (max-width: $screen-xs-max) {

  .pagination-nav {
    text-align: center;

    .pagination {
      margin-left: 0;
    }
  }
}