.word-chart {

}

.word-chart__title {

}

.word-chart__bar {
  fill: $accent-color;

  &:hover {
    fill: $accent-color-dark;
  }
}

.word-chart__item-weight {
  fill: $text-icons-color;
  font-size: 14px;
  font-weight: bold;
}

.word-chart__label-container {

}

.word-chart__label-link {

}

.word-chart__label-text {
  fill: $text-primary-color;
  font-size: 14px;

  &:hover {
    fill: $accent-color-dark;
  }
}