.documents-tab {
  @extend .tab-pane;
}

.time-chart-tab {
  @extend .tab-pane;
}

.geographic-chart-tab {
  @extend .tab-pane;
}

.word-chart-tab {
  @extend .tab-pane;
}

.word-chart {
  @extend .col-sm-4;
}

.word-chart__title {

}

.word-chart__bar {
  fill: $accent-color;

  &:hover {
    fill: $accent-color-dark;
  }
}

.word-chart__item-weight {
  fill: $text-icons-color;
  font-size: 14px;
  font-weight: bold;
}

.word-chart__label-container {

}

.word-chart__label-link {

}

.word-chart__label-text {
  fill: $text-primary-color;
  font-size: 14px;

  &:hover {
    fill: $accent-color-dark;
  }
}

.time-chart {

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .time-chart__bar--positive {
    &:hover {
      fill: darken($brand-success, 10%) !important;
    }
  }

  .time-chart__bar--neutral {
    &:hover {
      fill: darken(#727272, 10%) !important;
    }
  }

  .time-chart__bar--negative {
    &:hover {
      fill: darken($brand-danger, 10%) !important;
    }
  }
}
