.footer {
  background-color: $primary-color;
  display: table-row;
  height: 1px;
  width: 100%;
  color: $text-icons-color;
  font-size: .95em;

  a {
    color: $text-icons-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  h2 {
    margin-bottom: 25px;
  }

  .container {
    height: auto;
  }

  &__developed-by {
    @extend .col-xs-4;
    @extend .col-sm-3;
    @extend .col-md-3;
    @extend .col-xs-offset-4;
    @extend .col-sm-offset-0;

    @media (min-width: $screen-sm-min) {
      margin-top: 1em;
      margin-bottom: 1em;

      h3 {
        margin-top: 0;
      }
    }
  }

  &__project-partners {
    @extend .col-sm-8;
    @extend .col-md-8;
    @extend .col-sm-offset-1;
    @extend .col-md-offset-1;

    @media (min-width: $screen-sm-min) {
      border-left: 2px solid $primary-color-dark;
      margin-top: 1em;
      margin-bottom: 1em;

      h3 {
        margin-top: 0;
      }
    }

    h3 {
      padding-left: 15px;
    }

    @media (max-width: $screen-xs-max) {
      h3 {
        text-align: center;
      }
    }

  }

  .footer-unt-history-logo {
    padding: .5em 0;
  }

  &__logo {
    @extend .img-responsive;
    @extend .center-block;

    max-width: 125px;
  }
}
