.jumbotron {
  position: relative;
  padding-top: 0;
  display: block;
  width: 100%;
  min-height: 500px;
  max-height: 600px;
  overflow: hidden;
  background-image: url("../img/austin-hero-lg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 30px;


  & > .container {
    padding-top: 50px;
  }

  .navbar {
    @include gradient-vertical(rgba(0,0,0,.6), rgba(0,0,0,0));
  }

  .jumbotron-subtitle {
    font-weight: 400;
  }
}

